<div class="container" style="margin-top:30px; margin-bottom: 30px;">
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="width:400px">
        <div class="card-body">
          <h4 class="card-title">{{ user.username }}</h4>
          <p class="card-text">{{ user.email }}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" style="width:400px">
        <img class="card-img-top" src="{{ steamSummary.avatar.large }}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{ steamSummary.nickname }}</h4>
          <div class="card-text">
            <div class="row">
              <div class="col-sm-6" *ngFor="let game of recentGames">
                <div class="card" style="width:175px">
                  <img class="card-img-top" src="{{ game.logoURL }}" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">{{ game.name }}</h4>
                  </div>
               </div>
             </div>
           </div>
          </div>
          <a href="{{ steamSummary.url }}" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
