
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin:0px 0;">
  <a class="navbar-brand" href="javascript:void(0)">Accueil</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navb">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Fil d'actualit&eacute;</a>
      </li>
      <li class="nav-item"[hidden]="!authService.connected">
        <a class="nav-link" routerLink="profil">Profil</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Rechercher">
      <button class="btn btn-secondary my-2 my-sm-0" type="button">Rechercher</button>
      <div class="btn-group pl-4">
        <button type="button" class="btn btn-primary" routerLink="log-in" [hidden]="authService.connected">Se Connecter</button>
        <button type="button" class="btn btn-primary" (click)="logout()" [hidden]="!authService.connected">Se Déconnecter</button>
        <button type="button" class="btn btn-success" routerLink="sign-in" [hidden]="authService.connected">S'inscrire</button>
      </div>
    </form>
  </div>
</nav>
