<div class="container" style="margin-top:30px; margin-bottom: 30px;">
  <form [hidden]="submitted" (ngSubmit)="onSubmit()" #logIn="ngForm">
    <div class="form-group">
      <label for="email">Email :</label>
      <input
        type="email"
        class="form-control"
        placeholder="Entrer email"
        id="email"
        [(ngModel)]="model.email" name="name"
        required=""
      >
    </div>
    <div class="form-group">
      <label for="pwd">Mot de passe :</label>
      <input
        type="password"
        class="form-control"
        placeholder="Entrer mot de passe"
        id="pwd"
        [(ngModel)]="model.password" name="pwd"
        required=""
      >
    </div>
    <button type="submit" class="btn btn-primary">Se connecter</button>
  </form>
  <div [hidden]="!submitted">
    <h2>{{hiddenText}}</h2>
  </div>
</div>
