<div class="container" style="margin-top:30px; margin-bottom: 30px;">
  <div class="row">
    <div class="col-sm-6" *ngFor="let game of games">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{game.name}}</h4>
          <p class="card-text">
            {{game.summary}}
          </p>
          <a href="{{game.url}}" class="card-link">Lien</a>
        </div>
      </div>
    </div>
  </div>
</div>
